# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
